@keyframes moveBorder {
  0% {
    border-spacing: 0px;
  }
  50% {
    border-spacing: 10px;
  }
  100% {
    border-spacing: 0px;
  }
}

.x6-widget-selection-box {
  border: none;
  border: 2px dashed #0062ff;
//   background-image: url("~@/assets/border.svg");
//   background-repeat: no-repeat;
}
